/* Estilos para el cuerpo y la fuente */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    padding-top: 20px; /* Espaciado en la parte superior */
    padding-left: 10px; /* Espaciado a la izquierda */
    padding-right: 10px; /* Espaciado a la derecha */
}

/* Estilos para el encabezado del chat */
.header-row {
    background-color: #9B7D3A;
    color: rgb(12, 12, 12);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-title h1 {
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Estilos para la bola emergente */
.chat-ball {
    display: inline-block;
    background-color: #9B7D3A;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    animation: bounce 0.4s infinite alternate;
}

/* Animación para la bola emergente */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Estilos para el botón de enviar */
.custom-send-btn {
    background-color: #9B7D3A;
    border-color: #9B7D3A;
    color: white;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    display: block;
}

/* Estilo para el botón de enviar al pasar el cursor */
.custom-send-btn:hover {
    background-color: #7f6525;
    border-color: #7f6525;
}

/* Estilo para la bola emergente del chat */
.chat-ball {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #0d560383;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para el icono del chat */
.chat-icon img {
    width: 80%;
    height: auto;
    border-radius: 60%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para la ventana emergente del chat */
.chat-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
    z-index: 9998;
}

.chat-popup .container {
    padding: 20px;
}

.chat-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Estilo para el mensaje del usuario */
.message.user-message {
    background-color: #d3b36e;
    color: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 70%;
    align-self: flex-end;
    display: flex;
}

/* Estilo para el mensaje de Kato */
.message.kato-message {
    background-color: #fdfcfa;
    color: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 70%;
    align-self: flex-start;
    display: flex;
}

/* Estilo para las imágenes en los mensajes */
.message img {
    max-width: 100%;
    border-radius: 10px;
}

/* Estilo para los avatares */
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para el carrusel */
.carousel-container {
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Posición relativa para el contenedor del carrusel */
    overflow: hidden; /* Ocultar el contenido que se desborda */
}

.carousel {
    max-width: 100%;
    position: relative; /* Posición relativa para el carrusel */
}

.slide {
    text-align: center;
    padding: 20px;
}

.slide video {
    max-width: 100%;
    height: auto; /* Ajusta el video para que mantenga su proporción */
    border-radius: 40px;
    margin-bottom: 40px;
}

.slide h3 {
    margin: 0;
    font-size: 20px;
}

/* Estilos para el título del carrusel */
.carousel-title {
    margin-bottom: 40px;
    font-size: 40px; /* Tamaño de fuente aumentado */
    color: #333;
    background-color: #dabf13;
    padding: 30px; /* Espaciado interno aumentado */
    border-radius: 10px;
    color: white;
    position: absolute; /* Posición absoluta para el título */
    top: 50%; /* Espaciado desde arriba */
    left: 50%; /* Posición desde la izquierda */
    transform: translate(-50%, -50%); /* Centrar horizontal y verticalmente */
    box-shadow: 0 2px 5px rgb(255, 254, 254); /* Sombra del texto */
}

/* Estilos para los puntos del carrusel */
.slick-dots {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
    position: absolute; /* Posición absoluta para los puntos */
    bottom: 10px; /* Espaciado desde abajo */
    left: 50%; /* Posición desde la izquierda */
    transform: translateX(-50%); /* Centrar horizontalmente */
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: #eba845;
}

/* Estilo para los lados del carrusel */
.carousel-container:before,
.carousel-container:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to right, rgb(255, 252, 252), );
}

.carousel-container:before {
    left: 0;
}

.carousel-container:after {
    right: 0;
}

/* Estilos para la información adicional */
.social-icons a {
    color: #d3b36e;
    font-size: 24px;
    margin-right: 10px;
}

/* Estilos para los íconos sociales al pasar el cursor */
.social-icons a:hover {
    color: #d3b36e;
}

/* Estilos para los íconos en los mensajes */
.slide i {
    font-size: 24px;
    color: #ebedef;
    margin-right: 5px;
}

/* Estilos para los íconos al pasar el cursor */
.slide i:hover {
    color: #b39500;
}

/* Estilo para los botones */
.custom-send-btn {
    background-color: #9B7D3A;
    border-color: #9B7D3A;
    color: white;
}

/* Estilo para los botones al pasar el cursor */
.custom-send-btn:hover {
    background-color: #7f6525;
    border-color: #7f6525;
}

/* Estilo para las imágenes en los slides */
.slide img {
    max-width: 80%;
    height: auto;
}

/* Estilo para el título "Chatea con nosotros" fuera del carrusel */
.chat-with-us {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;;
    color: #645f5f;
    background: linear-gradient(45deg, #9B7D3A, #E1B855);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #333;
    text-align: center;
}


/* Estilo del chat */
.chat-ball {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
    padding: 15px;
}

.chat-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chat-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.user-message {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.kato-message {
    background-color: #9B7D3A;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.chat-popup input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 10px;
}

.chat-popup .custom-send-btn {
    border-radius: 20px;
}

/* Estilo del botón de cerrar */
#close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    color: #aaa;
    cursor: pointer;
    border: none;
    background: none;
}

.chat-options {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.avatar img {
    max-width: none; /* Elimina el tamaño máximo */
    height: auto; /* Mantiene la proporción de aspecto */
}

.chat-box img {
    max-width: 50%; /* Ajusta el tamaño máximo al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
}

.chat-popup {
    z-index: 9999; /* Asegura que el z-index sea mayor que otros elementos */
}

.main-container {
    position: relative;
    height: 60vh;
    background: url('../img/5.jpg') no-repeat center center/cover;
    color: rgb(7, 7, 7);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20); /* overlay gris */
}
.content {
    position: relative;
    z-index: 2;
}
