/* Estilos para el carrusel */
.carousel {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f6ebb5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.slide {
    text-align: center;
    padding: 20px;
}

.slide img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.slide h3 {
    margin: 0;
    font-size: 20px;
}

/* Estilos para el título del carrusel */
.carousel-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #f7f2f2;
    text-align: center;
}

/* Estilos para los puntos del carrusel */
.slick-dots {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #fffefe;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slick-dots li.slick-active button {
    background-color: #ffffff;
}
